body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cdc9c6;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  .page img {
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
  }
  